@charset "UTF-8";
@import "./general";
@import "./variables";


.header {
    height: 1000px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);

    .color {
        width: 100%;
        background-color: $main-color;
    }

    .nav {
        width: 1111px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;

        &__logo {
            width: 25%;
        }

        &__ul {
            width: 65%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            margin-left: 5rem;

            &__li {
                &__a {
                    width: 70px;
                    height: 32px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 200%;
                    text-align: center;
                    color: #FFFFFF;
                }

                .btn {
                    border: 1px solid #fff;
                    padding: 15px 25px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }
            }
        }
    }

    &__title {
        width: 1100px;
        margin: 0 auto;

        h3 {
            width: 180px;
            margin: 3.5rem auto 0;
            height: 24px;
            font-family: 'Gentium Basic';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
        }

        h2 {
            width: 1111px;
            margin: 1rem auto;
            height: 100px;
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 200%;
        }

        .buttons {
            width: 1111px;
            margin: 1.5rem auto;
            display: flex;
            justify-content: center;

            .btn1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 24px;
                gap: 10px;
                width: 209px;
                height: 52px;
                background: $main-color;
                border: 1px solid $main-color;
                border-radius: 20px;
                color: #fff;

                i {
                    width: 12px;
                    color: #fff;
                    font-size: 20px;
                }
            }

            .btn2 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 24px;
                gap: 10px;
                width: 209px;
                height: 52px;
                border: 2px solid $main-color;
                border-radius: 20px;
                color: $main-color;
                margin-left: 15px;
                background-color: #fff;

            }

        }
    }

    &__cards {
        width: 1111px;
        margin: 3rem auto;
        position: relative;

        &__box1 {
            width: 100px;
            height: 138.33px;
            background-color: #fff;
            position: relative;
            left: 0;

            h3 {
                width: 74px;
                padding-top: 1em;
                height: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 5px;
                line-height: 200%;
                text-align: center;
            }

            p {
                width: 57%;
                height: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 5px;
                line-height: 200%;
                text-align: center;
            }

            img {
                width: 70%;
                margin: 0.7rem auto;
                margin-left: 10px;
            }
        }

        &__box2 {
            width: 100px;
            height: 138.33px;
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 0;

            h3 {
                width: 70%;
                height: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 5px;
                line-height: 200%;
                text-align: center;
            }

            p {
                width: 40%;
                height: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 5px;
                line-height: 200%;
                text-align: center;
            }

            img {
                width: 90%;
                margin: 1rem auto;
                margin-left: 6px;
            }
        }

        &__box3 {
            position: absolute;
            width: 130px;
            height: 200px;
            left: 220px;
            top: 120px;
            background: #FFFFFF;
            box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

            h3 {
                width: 55%;
                height: 16px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                line-height: 200%;
                text-align: center;
            }

            p {
                width: 50%;
                height: 10px;
                color: #212121;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 5px;
                line-height: 200%;
                text-align: center;
            }

            img {
                width: 80%;
                margin: .7rem .7rem;
                height: 155.59px;
            }
        }

        &__box4 {
            position: absolute;
            width: 230px;
            height: 360px;
            left: 440px;
            top: 105px;

            background: #FFFFFF;

            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

            h3 {
                width: 75%;
                margin: 0.5rem auto .2rem;
                text-align: center;
                height: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 200%;
                color: #212121;
            }

            p {
                width: 60%;
                text-align: center;
                height: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 200%;
            }

            img {
                width: 90%;
                margin: 0 auto;
                height: 300px;
            }
        }

        &__box5 {
            position: absolute;
            width: 130px;
            height: 200px;
            right: 220px;
            top: 120px;
            background: #FFFFFF;
            box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

            h3 {
                width: 60%;
                margin-top: .5rem;
                height: 16px;
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                line-height: 200%;
            }

            p {
                width: 47%;
                height: 10px;
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 5px;
                line-height: 200%;
            }

            img {
                width: 80%;
                margin: .5rem auto;
                margin-left: 12px;
            }
        }

        &__box6 {
            position: absolute;
            width: 130px;
            height: 220px;
            left: 0px;
            top: 300px;
            background: #FFFFFF;
            box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

            h3 {
                width: 80%;
                margin-top: .7rem;
                height: 16px;
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                line-height: 200%;
                color: #212121;
            }

            p {
                width: 51%;
                height: 12px;
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 5px;
                line-height: 200%;
            }

            img {
                width: 82%;
                margin: 0.5rem auto;
                margin-left: 12px;
            }
        }



        &__box7 {
            position: absolute;
            width: 130px;
            height: 200px;
            right: 0;
            top: 300px;
            background: #FFFFFF;
            box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

            h3 {
                width: 80%;
                margin-top: .7rem;
                height: 16px;
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                line-height: 200%;
                color: #212121;
            }

            p {
                width: 58%;
                height: 12px;
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 5px;
                line-height: 200%;
            }

            img {
                width: 80%;
                margin-left: 12px;
            }
        }
    }
}

// header end

.main {
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, #F6F5FF 0%, #FFFFFF 100%);

    .position {
        width: 1111px;
        margin: 0 auto;
    }

    &__title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__flex {
        max-width: 1111px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 1.4rem;

        &__box1 {
            width: 596px;
            height: 228px;
            background: #FFFFFF;
            box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
            border-radius: 5px;
            margin-right: 10px;

            p {
                width: 420px;
                height: 64px;
                margin: 10px 30px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 200%;
            }

            &__avatar {
                display: flex;
                margin-left: 6rem;
                margin-top: 1.5rem;

                img {
                    margin-right: 1rem;
                }

                &__words {


                    h1 {
                        width: 150px;
                        height: 32px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 200%;
                        color: #212121;
                    }

                    h3 {
                        width: 272px;
                        height: 32px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 200%;
                        color: #949494;

                    }
                }
            }
        }
    }
}

// main end


.col {
    width: 1111px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;

    &__box {
        display: flex;

        h1 {
            width: 84px;
            height: 50px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 200%;
            color: #212121;
        }

        p {
            width: 154px;
            height: 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            color: #949494;

        }

        img {
            width: 100%;
            height: 80px;
        }
    }
}

// end col


.section {
    width: 1111px;
    margin: 0 auto;

    &__title {
        width: 100%;
        margin: 7rem auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__ul {

            li {
                width: 221px;
                height: 48px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 200%;
                color: #212121;

                &:nth-child(2) {
                    width: 413px;
                    height: 32px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 200%;
                    color: #949494;
                }
            }
        }

        &__ul2 {

            li {
                width: 115px;
                height: 32px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 200%;
                text-align: right;
                color: #949494;
            }
        }
    }

    &__cards {
        width: 1111px;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;



        &__box {
            width: 530px;
            height: 270px;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 5px;

            p {
                width: 450px;
                margin: 1.5rem auto;
                height: 96px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 200%;
                color: #212121;
            }

            &__flex {
                display: flex;
                height: 65px;
                align-items: center;
                margin: 3rem 5rem;

                &__ul2 {
                    margin-left: 1rem;

                    li {
                        width: 104px;
                        height: 32px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 200%;
                        color: #212121;

                        &:nth-child(2) {
                            width: 161px;
                            height: 32px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 200%;
                            color: #949494;
                        }
                    }
                }
            }
        }


        &__box2 {
            width: 530px;
            height: 270px;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

            p {
                width: 450px;
                margin: 1.5rem auto;
                height: 96px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 200%;
                color: #212121;
            }

            &__flex {
                display: flex;
                height: 65px;
                align-items: center;
                margin: 3rem 5rem;

                &__ul2 {
                    margin-left: 1rem;

                    li {
                        width: 150px;
                        height: 32px;
                        left: 126px;
                        top: 171px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 200%;
                        color: #212121;

                        &:nth-child(2) {
                            width: 161px;
                            height: 32px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 200%;
                            color: #949494;
                        }
                    }
                }
            }
        }
    }
}

// section end


.row {
    width: 1111px;
    margin: 0 auto;

    &__title {

        width: 100%;
        margin: 7rem auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__ul {

            li {
                width: 221px;
                height: 48px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 200%;
                color: #212121;

                &:nth-child(2) {
                    width: 413px;
                    height: 32px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 200%;
                    color: #949494;
                }
            }
        }
    }

    &__cards {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;

        img {
            width: 350px;
        }
    }
}

// end row


.information {
    width: 1111px;
    margin: 8rem auto;

    h2 {
        width: 100%;
        height: 56px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 200%;
        color: #212121;
        text-align: center;
    }

    p {
        width: 100%;
        height: 40px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #949494;
        text-align: center;
    }

    button {
        padding: 10px 24px;
        gap: 10px;
        width: 300px;
        margin: 1rem auto;
        height: 60px;
        background: $main-color;
        border: 1px solid $main-color;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
        border-radius: 20px;
        color: #fff;
        margin-left: 25rem;
    }

    h4 {
        width: 100%;
        text-align: center;
        height: 40px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #949494;

    }

    h3 {
        width: 250px;
        margin-left: 26.5rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        border: 1px solid $main-color;
        color: $main-color;
        text-align: center;
        padding: 10px 25px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}


// end information


.footer {
    width: 1111px;
    margin: 0 auto;

    &__flex {
        display: flex;
        justify-content: space-between;

        p {
            width: 64px;
            height: 36px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 200%;
            color: #212121;
        }

        li {
            width: 101px;
            height: 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 200%;
            color: #949494;
        }

        &__ul {
            width: 40%;

            li {
                display: flex;
                height: 50px;
                align-items: center;
                width: 500px;
                height: 36px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 200%;
                color: #212121;


                i {
                    width: 70px;
                    margin-top: 3rem;
                    display: flex;
                    justify-content: space-around;
                    font-size: 30px;
                }
            }
        }

        &__ul3 {

            p {
                width: 100%;
                height: 36px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 200%;
                color: #212121;
            }
        }
    }
}

.footer-bottom {
    width: 100%;
    background-color: $main-color;
    height: 60px;
    display: flex;
    align-items: center;    

    &__position {
        width: 1111px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
    }
}